/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/example/.bundle
/example/Gemfile.lock
/example/Gemfile
/example/vendor/
*.bundle
*.so
*.o
*.a
mkmf.log
example/licenses/
example/assets/
